:root {
  --transition-1: all 0.3s ease-in-out;
  --transition-2: all 0.2s ease-in-out;
}

.no_result {
  margin: 0.3rem;
  padding: 0.3rem 0.5rem;
  list-style: none;
  text-align: left;
  font-size: 1rem;
  color: #212121;
  transition: all 0.1s ease-in-out;
  border-radius: 0.35rem;
  background-color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
  outline: none;
}

h4::selection {
  color: #000000;
}

.github-corner {
  transition: var(--transition-1);
}

.mode {
  margin-top: 20px;
}

.toggle {
  display: flex;
  /* position: absolute; */
  border: 1px solid rgba(225, 223, 223, 0.64);
  height: 35px;
  width: 120px;
  border-radius: 50px;
  justify-content: flex-start;
  align-content: center;
  transition: var(--transition-2);
}

.toggler {
  display: grid;
  cursor: pointer;
  background-color: #ff0000;
  color: #fff;
  height: 25px;
  width: 60px;
  border-radius: 50px;
  margin: 5px;
  text-align: center;
  align-content: center;
  align-self: flex-start;
  transition: var(--transition-2);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
}

.toggler:hover {
  width: 65px;
  background-color: #000000;
}

.toggler::selection {
  color: #fff;
}

.strict {
  display: inline;
}

.loose {
  display: inline;
}

.selection {
  margin-top: 1vh;
  font-family: Brush Script MT;
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  transition: var(--transition-1);
}

.selection::selection {
  color: #64ceaa;
}


@media only screen and (max-width: 600px) {
  .selection {
    margin-top: 15vh;
  }

/* @media only screen and (max-height: 600px) {
  .footer {
    display: none;
  }
} */
