<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Textbox Autocomplete Assets -->
    <link href="../static/css/jquery.select-autocomplete.css" rel="stylesheet" type="text/css">
    <script src="../static/js/jquery.select-autocomplete.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@8.2.3/dist/css/autoComplete.min.css">

</head>
<body>
    <div>
        <select id="selCocktail" onchange="cocktailChanged(this.value)"></select>
    </div>


    <script src="../static/js/barChart.js"></script>

    <div class="wrap">
        <input id="autocomplete" type="text" name="search" onsubmit="cocktailChanged(this.value)" />
      </div>
      <script src="https://code.jquery.com/jquery-1.8.0.js"
              integrity="sha256-00Fh8tkPAe+EmVaHFpD+HovxWk7b97qwqVi7nLvjdgs="
              crossorigin="anonymous"></script>
      <script src="../static/js/jquery.select-autocomplete.js"></script>
      <script>
        $(document).ready(function() {
          $("#autocomplete").selectAutocomplete({
            showCancelButton: true,
            cancelButtonText: "Remove",
            data: cocktailNames().then(names => names),
            minLength: 1,
            onSelect: function(e, value) {
              console.log("Item selected! Id: " + value);
            },
            onCancel: function (e) {
              console.log("Cancel button clicked!");
            }
          });
        });

      </script>
    <div id="bar"></div>
</body>
</html>