<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sample Flask Website</title>
  <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="/homepage">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/bubble">Popular Ingredients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/leaflet-map">Top Cocktail by State</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="container fluid">
          <img src="../static/Images/logo_bubble.jpg" alt="Snow">
          <div class="centered"> </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="container fluid">
          <div id="bubble"></div>
          <div class="centered"> </div>
        </div>
      </div>
    </div>
  </div>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="../static/js/bubble.js"></script>

</body>

<!-- <script>
  var cocktail_data = [
    {% for cocktail in db_data %}
  {
    "ingredient": "{{ cocktail.ingredient }}",
      "measure": "{{ cocktail.measure }}"
  },
  {% endfor %}
      ];
</script> -->
<!-- <script src="/static/js/combined_state.js"></script> -->
<!-- <script src="/static/js/js-templating.js"></script> -->



</html>