<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cocktail Creator</title>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />>

  <!--D3 cdn-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    $( function() {
      var availableTags = loadAutocompleteData();
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/homepage">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bubble">Popular Ingredients</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/leaflet-map">Top Cocktail by State</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="container fluid">
          <img src="../static/Images/logo3.jpg" alt="Snow">
          <div class="centered"> </div>
        </div>
        <br>
        <div>
          <img src="../static/Images/cocktail_bg.jpg">
        </div>
      </div>
    </div>
    <select id="selCocktail" onchange="cocktailChanged(this.value)"></select>
    <div class="ui-widget">
      <label for="tags">Tags: </label>
      <input id="tags">
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="container-fluid">
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 id="panel-title">Cocktail Recipe</h3>
          </div>
          <div id="recipe" class="panel-body"></div>
          <img src="../static/Images/chalkboard2jpg.jpg" id="recipe_table">

          <div id="recipe-table"></div>
          <div id="recipe-list"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="container fluid">

          <!-- <div class="wrap">
            <input id="autocomplete" type="text" name="search" onsubmit="cocktailChanged(this.value)" />
          </div> -->
          <script src="https://code.jquery.com/jquery-1.8.0.js"
            integrity="sha256-00Fh8tkPAe+EmVaHFpD+HovxWk7b97qwqVi7nLvjdgs=" crossorigin="anonymous"></script>
          <script src="../static/js/jquery.select-autocomplete.js"></script>

          <div id="bar"></div>
        </div>
      </div>
    </div>

    <!-- API key -->
    <script src="../static/js/barChart.js"></script>
    <script type="text/javascript" src="static/js/config.py"></script>
    <!-- <script type="text/javascript" src="static/js/js-templating.js"></script> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Our JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>

</body>

</html>