<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>jQuery-selectAutocomplete</title>
    <meta name="description" content="DESCRIPTIONHERE" />
    <meta name="author" content="Frontendscript" />
   
    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" type="text/css" href="demo.css" />
    <link href="jquery.select-autocomplete.css" rel="stylesheet" type="text/css">
</head>
<body>
		
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
             
        </div>
        <div class="col-rt-2">
            <ul>
                <li><a href="https://frontendscript.com/javascript-autocomplete-textbox-from-array">Back to the Tutorial</a></li>
            </ul>
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>Javascript Autocomplete Textbox From Array</h1>
                <p>Build with Javascript & JQuery</p>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
                
                <div class="wrap">
                  <input id="autocomplete" type="text" name="search" />
                  <button id="destroy-btn" onclick="destroy()">Destroy select</button>
                </div>
                <script src="https://code.jquery.com/jquery-1.8.0.js"
                        integrity="sha256-00Fh8tkPAe+EmVaHFpD+HovxWk7b97qwqVi7nLvjdgs="
                        crossorigin="anonymous"></script>
                <script src="RUT-SOM-DATA-PT-09-2020-U-C\Cocktail-Creator\static\js\jquery.select-autocomplete.js"></script>
                <script>
                  $(document).ready(function() {
                    $("#autocomplete").selectAutocomplete({
                      showCancelButton: true,
                      cancelButtonText: "Remove",
                      data: [
                        { id: "id111", name: "1111" },
                        { id: "id222", name: "2222" },
                        { id: "id333", name: "3333" },
                        { id: "id444", name: "4444" },
                        { id: "id555", name: "5555" },
                        { id: "id666", name: "6666" },
                        { id: "id777", name: "7777" },
                        { id: "id888", name: "8888" },
                        { id: "id999", name: "9999" }
                      ],
                      minLength: 3,
                      onSelect: function(e, id, value) {
                        console.log("Item selected! Id: " + id);
                      },
                      onCancel: function (e) {
                        console.log("Cancel button clicked!");
                      }
                    });
                  });

                  function destroy() {
                    $("input").selectAutocomplete('destroy');
                  }
                </script>
                
    		</div>
		</div>
    </div>
</section>
     
    
    
	</body>
</html>