<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="../static/Images/favicon.ico" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cocktail Creator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />>

    <!--D3 cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>

            <div class="col-md-8">
                <div class="logo">
                    <img src="../static/Images/Cocktail_Creator_logo.png" style="width: 100%; height: auto"
                        alt="Cocktail Creator">
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

    <div class="row"><br>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>

            <div class="col-md-4">
                <div class="logo">
                    <img src="https://media0.giphy.com/media/3o7qDZCsPfhyaRazE4/giphy.gif?cid=ecf05e475kr7ugqqtux44yfk8yyp0stctomqe8kxneh8anve&rid=giphy.gif"
                        style="width: 100%; height: auto" alt="Cocktails">
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <div class="row"><br>
    </div>

    <!-- <div>
            <img
                src="https://media0.giphy.com/media/3o7qDZCsPfhyaRazE4/giphy.gif?cid=ecf05e475kr7ugqqtux44yfk8yyp0stctomqe8kxneh8anve&rid=giphy.gif">;
        </div>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-6">
                <div class="logo">
                    <section id="age">
                        <img src="../static/Images\21_2.JPG" style="width: 100%; height: auto" alt="Cocktails">
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md-3">
                    <a href="/homepage">
                        <img src="../static/Images\yes_button.PNG" style="width: 50%; height: auto" alt="21 and Over">
                    </a>
            </div>

            <div class="col-md-3">
                <a href="/not_21">
                    <img src="../static/Images\no_button.PNG" style="width: 50%; height: auto" alt="under 21">
                </a>
            </div>

            <div class="col-md-3">
            </div>
        </div>
        </section>
    </div>

    <footer>
        <div class="footer divfoot col-md-12">&copy; <a
                href="https://github.com/Ssimoes48/Cocktail-Creator">Copyright Upgraded Potato 2021</a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous">
        </script>
</body>

</html>