<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sample Flask Website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/html-templating">HTML Templating</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/js-variables">JS Variables</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/js-templating">JS Templating</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/raw-web-api">Raw Web API</a>
      </li>
      <li class="nav-item active">
        <select class="dropdown-styles" id="cocktail_cat" name="cocktail_cat">
          <option selected="">Select your Cocktail</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </li>
    </ul>
  
  </nav>
  <div class="content">
    <h2>Cocktail DB Landing Page JavaScript Visualizations!</h2>
    <br>
    <div>
      <img src="Images/cocktail_bg.jpg">
    </div>
  </div>
</body>

</html>
