<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sample Flask Website</title>
  <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/homepage">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/js-templating">By Ingredient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/leaflet-map">US Cocktails</a>
      </li>
      <!-- 
      <li class="nav-item">
        <a class="nav-link" href="/raw-web-api">Raw Web API</a>
      </li> --> -->
    </ul>
  
  </nav>
  <div class="content">
    <h2>Plotly Visualization Created Using JavaScript Templating</h2>
    <br>
    <div id="my-chart"></div>
  </div>
</body>

<script>
  var cocktail_data = [
      {% for cocktail in db_data %}
        {
          "ingredient": "{{ cocktail.ingredient }}",
          "measure": "{{ cocktail.measure }}"
        },
      {% endfor %}
      ];
</script>
<script src = "/static/js/combined_state.js"></script>
<script src="/static/js/js-templating.js"></script>

</html>
