<!DOCTYPE html>
<<html lang="en">

    <head>
        <link rel="icon" type="image/x-icon" href="../static/Images/favicon.ico" />

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cocktail Creator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin="" />>

        <!--D3 cdn-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">

                        <img src="../static/Images/chalkboard3.jpg" style="width: 100%; height: auto" alt="Snow">
                        <div class="centered">
                            <img src="../static/Images/sorry1.jpg" style="width: 100%; height: auto" alt="Snow">
                        </div>
                    </div>
                    <div>
                        <a href="/">
                            <img src="https://media0.giphy.com/media/M9IULcfGTqEpVBx8mH/200w.webp"style="width: 25%; height: auto">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script type="text/javascript" src="static/js/config.py"></script>
        <!-- <script type="text/javascript" src="static/js/js-templating.js"></script> -->
        <!-- Our JS -->
        <script type="text/javascript" src="static/js/logic.js"></script>
        <footer>
            <div class="footer divfoot col-md-12">&copy; <a href="https://github.com/Ssimoes48/Cocktail-Creator">Copyright
                Upgraded Potato 2021</a></div>
          </footer>
          
    </body>

    </html>